/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(211, 135, 43) inset !important;
}

.helper-text{
  color: red !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255, 255, 0, 0.399) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 0, 0.399) !important;
}

::placeholder {
  font-size: small;
  color: rgba(255, 255, 255, 0.399) !important;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: rgb(211, 135, 43);
}

nav ul a, nav .brand-logo {
  color: #fff;
  font-weight:600;
}

nav .brand-logo img {
  height: 3.5rem;
  margin: .5rem 0 0 .5rem;
}

p {
  line-height: 2rem;
}

i.icon-white {
  color: white;
}

#sidenavmenu-trigger{
  z-index: 998 !important;
  position: absolute;
  margin-top: -45px;
  margin-left: 50px;
}

#sidenavmenu-trigger:hover{
  cursor: pointer;
}

.card-title{
  font-weight:100;
}

.card-places{
  font-weight:900;
}

.card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-options i{
  margin: 0 .5rem;
}

.card-address{
  font-size: x-small;
  color: grey;
  text-decoration: underline;
}

.card-address:hover, .clickable:hover{
  cursor: pointer;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width: 993px){
  #sidenavmenu-trigger {
    display: none !important;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}